.button {
    width: 150px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dark  {
    background-color: rgb(13, 78, 109);
    color:#c9c2c2;
}

.light {
    background-color: rgb(19, 233, 161);
    color:#856969;
}