.button {
    width: 150px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dark  {
    background-color: rgb(13, 78, 109);
    color:#c9c2c2;
}

.light {
    background-color: rgb(19, 233, 161);
    color:#856969;
}

.button:disabled.dark {
    background-color: rgb(136, 136, 181);
    color:rgb(32, 30, 30);
    font-weight: 500;
}

.button:disabled.light {
    background-color: rgb(45, 139, 146);
    color:rgb(32, 30, 30);
    font-weight: 500;
}