.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: #F9FBE7;
}

.wrapperBtns {
    display: flex;
    gap: 15px;
}