.footer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid 1px silver;
    margin-bottom: 10px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #5124a0;
    color:antiquewhite;
}